# Fichiers générés par Android Studio
*.iml
.gradle
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# Fichiers de build
/app/build/
/app/release/

# Fichiers de configuration locale
local.properties
*.log

# Fichiers système
.DS_Store
Thumbs.db 

# Fichiers de configuration
google-services.json
/local.properties

# Fichiers de signature
*.keystore
*.jks